$accentColor: #066F30 !default;
$textColor: #2c3e50 !default;
$borderColor: #eaecef !default;
$codeBgColor: #282c34 !default;

@font-face {
    font-family: 'Jost';
    src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BoldItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BoldItalic.woff) format("woff");
    font-weight: 600;
    font-style: italic
  }

@font-face {
    font-family: 'Jost';
    src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Bold.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Bold.woff) format("woff");
    font-weight: 600;
    font-style: normal
  }

.theme-container h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jost';
  font-weight: 700;
}

#navbar img {
  border: 0;
}

.sw-update-popup {
  border-color: $accentColor ;
}

.custom-container.enterprise {
  background-color: #f3f5f7;
  border-color: #06ac38;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

  .custom-container-title {
    margin: 0.5rem;
  }
}

.custom-container.tutorial {
  background-color: #f3f5f7;
  border-color: #06ac38;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

  .custom-container-title {
    margin: 0.5rem
  }
}

.custom-container.incubating {
  background-color: #f3f5f7;
  border-color: #d46300;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

  .custom-container-title {
    margin: 0.5rem;
  }
}

.custom-container.betafeature {
  background-color: #f3f5f7;
  border-color: #48a1f5;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}

.custom-container.deprecated {
  background-color: #fbfbd8;
  border-color: #d4d400;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

  .custom-container-title {
    margin: 0.5rem;
  }
}

/* Tabs */
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
  color: $accentColor ;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  color: lighten($accentColor, 15) ;
}