@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BoldItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic
}
@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Bold.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}
.theme-default-content h1, h2, h3, h4, h5, h6 {
  font-family: 'Jost';
  font-weight: 700;
}

figure
  text-align: center

figcaption
  font-style: italic
  text-align: center

dl
  line-height: 1.7

dt
  font-weight: bold
.navbar{
  .site-name{
    display: none;
  }
}
a.home-link{
  position: relative;
}
@media only screen and (max-width:60.5em) { 
	a.home-link{
    width: 50%;
    text-align: center;
  }
}
.logo{
  height: 35px !important;
  margin-right: 0.8rem;
  vertical-align: top;
  max-width: 11rem;
  width: 175px;
  margin-top: .3rem;
  pointer-events: none;
  position: absolute;
  top: -27px;
}

.navbar{
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.10);
  border-bottom: 0 solid;
}

.sw-update-popup {
  border-color: $accentColor !important;
}

.theme-default-content:not(.custom) {
  padding: 6rem 2.5rem 2rem;
}

.sidebar-group.is-sub-group>.sidebar-heading:not(.clickable) {
  opacity: 1 !important;
}

.content__default ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
.content__default ol > li {
  counter-increment: my-awesome-counter;
  position: relative;
}
.content__default ol > li::before {
  content: counter(my-awesome-counter) ". ";
  position: absolute;
  font-weight: bold;
  display: contents;
  width: 1em;
  margin-left: -1em;
}

.content__default ul {
  list-style: none; /* Remove default bullets */
}

.content__default ul > li::before {
  position: absolute;
}

.content__default ul > li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

@media screen and (max-width: 1150px) and (min-width:720px)
  .navbar
    a.home-link
      max-width: 25px;
      overflow: hidden;
      img
        width: 225px;
        height: 30px;

.custom-block
  &.enterprise
    background-color #f3f5f7
    border-color #4283b9
    padding 0.1rem 1.5rem
    border-left-width 0.5rem
    border-left-style solid
    margin 1rem 0
    .custom-block-title
      margin 0.5rem

.custom-block
  &.tutorial
    background-color #f3f5f7
    border-color #4283b9
    padding 0.1rem 1.5rem
    border-left-width 0.5rem
    border-left-style solid
    margin 1rem 0
    .custom-block-title
      margin 0.5rem

.custom-block
  &.incubating
    background-color cyan
    padding 0.1rem 1.5rem
    margin 1rem 0
    .custom-block-title
      margin 0.5rem

/* Tabs */
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active  {
  color: $accentColor !important;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  color: lighten($accentColor, 15) !important;
}

/* Fixup the code-copy plugin */
.code-copy {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.code-copy > span {
  color: whitesmoke;
  bottom: unset;
  top: 15px;
}

.code-copy > svg {
  bottom: unset !important;
  top 7.5px;
}