@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BoldItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic
}
@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Bold.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Jost';
  font-weight: 700;
}

figcaption
  font-style: italic
  text-align: center

dl
  line-height: 1.7

dt
  font-weight: bold
.navbar{
  .site-name{
    display: none;
  }
}
img.logo{
    height: auto !important;
    margin-right: 0.8rem;
    vertical-align: top;
    max-width: 11rem;
    width: 100%;
    margin-top: .3rem;
}
.navbar{
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.10);
  border-bottom: 0 solid;
}
.theme-default-content:not(.custom) {
  padding: 6rem 2.5rem 2rem;
}