@use "@sass-palette/hope-config";
@use "sass:color";
@use "sass:list";
@use "vuepress-shared/styles/shining";

.theme-container h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jost';
  font-weight: 700;
}


#main-title {
    -webkit-text-fill-color: var(--text-color);
    color: var(--text-color);
    text-align: center;
}

#main-description {
  max-width: unset;
  text-align: center;
}

.homepage-announce {
  background-color: var(--theme-color-mask); /* Green color */
  /*border-radius: 10px; /* Rounded corners */
  padding: 1px 0px; /* Padding inside the box */
  font-size: 16px; /* Small font size */
  margin: 0px; /* outside padding */
  text-align: center; /* Center the text */
  }

.sidebar-announce {
    background-color: var(--theme-color-mask); /* Green color */
    border-radius: 10px; /* Rounded corners */
    padding: 1px 8px; /* Padding inside the box */
    font-size: 14px; /* Small font size */
    margin: 10px; /* outside padding */
    text-align: center; /* Center the text */
    }

.vp-description{
  text-align: center;
  max-width: unset;
}

.vp-feature {
  color: var(--text-color)
}

.vp-feature-bg + .vp-feature {
  color: var(--text-color)
}

.vp-highlight {
  color: var(--text-color)
}

.vp-feature-item {
  position: relative;

  box-shadow: 0 1.5px 3px 0 #00000026;
  border: 2px solid var(--ifm-color-emphasis-200);

  display: block;
  flex-basis: calc(33% - 3rem);

  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;

  color: inherit;

  transition:
    background var(--color-transition),
    box-shadow var(--color-transition),
    transform var(--transform-transition);

  @media (min-width: hope-config.$pc) {
    flex-basis: calc(25% - 3rem);
  }

  @media (max-width: hope-config.$pad) {
    flex-basis: calc(50% - 3rem);
  }

  @media (max-width: hope-config.$tablet) {
    flex-basis: 100%;
    font-size: 0.95rem;
  }

  @media (max-width: hope-config.$mobile) {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }

  &.link {
    cursor: pointer;

    @media print {
      text-decoration: none;
    }
  }

  .icon {
    display: inline-block;

    width: 1.1em;
    margin-inline-end: 0.5rem;

    color: var(--theme-color);

    font-weight: normal;
    font-size: 1.1em;
  }

  &:hover {
    background-color: var(--bg-color-secondary);
    box-shadow: 0 2px 12px 0 var(--card-shadow);
    transform: translate(-2px, -2px);
    transform: scale(1.05);

    .vp-feature-bg + .vp-feature & {
      background-color: transparent;
    }
  }

  &:only-child {
    flex-basis: 100%;
  }

  &:first-child:nth-last-child(2),
  &:nth-child(2):last-child {
    flex-basis: calc(50% - 3rem);

    @media (max-width: hope-config.$tablet) {
      flex-basis: 100%;
    }
  }
}

.theme-hope-content img {
  border: 1px solid #C0C0C0;
}

//This is used to fix Code on the old API page for request and response strings.
.theme-hope-content pre:not([class]) code {
  color: var(--text-color);
}

.custom-container.enterprise {
  background-color: #f3f5f7;
  border-color: #06ac38;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

  .custom-container-title {
    margin: 0.5rem;
  }
}

.custom-container.tutorial {
  background-color: #f3f5f7;
  border-color: #06ac38;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

  .custom-container-title {
    margin: 0.5rem
  }
}

.custom-container.incubating {
  background-color: #f3f5f7;
  border-color: #d46300;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

  .custom-container-title {
    margin: 0.5rem;
  }
}

.custom-container.betafeature {
  background-color: #f3f5f7;
  border-color: #48a1f5;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}

.custom-container.deprecated {
  background-color: #fbfbd8;
  border-color: #d4d400;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

  .custom-container-title {
    margin: 0.5rem;
  }
}

.theme-hope-content:not(.custom) .swagger h3:first-child {
  margin-top: 0px !important;
}

html[data-theme=dark] {
  img[src*="/images/RundeckbyPagerDuty.svg"] {
    content: url("/images/RundeckbyPagerDutyDark.svg")
  };
  
  --theme-color: var(--theme-color-dark);

  #main-title .a {
    color: #fff;
  }

  .vp-feature {
    color: var(--text-color);
  }

  #main-title {
    color: #fff;
    -webkit-text-fill-color: #fff;
  } 

  .vp-description {
    color: #fff;
  }

  .vp-highlight {
    color: var(--text-color);
  }

  .vp-feature {
    color: var(--text-color);
  }

  .vp-feature-item {
    position: relative;
    background-color: #383838d1;
    box-shadow: 0 1.5px 3px 0 #f8f8f87d;
    border: 2px solid var(--ifm-color-emphasis-200);
  
    display: block;
    flex-basis: calc(33% - 3rem);
  
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
  
    color: inherit;
  
    transition:
      background var(--color-transition),
      box-shadow var(--color-transition),
      transform var(--transform-transition);
  
    @media (min-width: hope-config.$pc) {
      flex-basis: calc(25% - 3rem);
    }
  
    @media (max-width: hope-config.$pad) {
      flex-basis: calc(50% - 3rem);
    }
  
    @media (max-width: hope-config.$tablet) {
      flex-basis: 100%;
      font-size: 0.95rem;
    }
  
    @media (max-width: hope-config.$mobile) {
      margin: 0.5rem 0;
      font-size: 0.9rem;
    }
  
    &.link {
      cursor: pointer;
  
      @media print {
        text-decoration: none;
      }
    }
  
    .icon {
      display: inline-block;
  
      width: 1.1em;
      margin-inline-end: 0.5rem;
  
      color: var(--theme-color);
  
      font-weight: normal;
      font-size: 1.1em;
    }
  
    &:hover {
      background-color: var(--bg-color-secondary);
      box-shadow: 0 2px 12px 0 var(--card-shadow);
      transform: translate(-2px, -2px);
      transform: scale(1.05);
  
      .vp-feature-bg + .vp-feature & {
        background-color: transparent;
      }
    }
  
    &:only-child {
      flex-basis: 100%;
    }
  
    &:first-child:nth-last-child(2),
    &:nth-child(2):last-child {
      flex-basis: calc(50% - 3rem);
  
      @media (max-width: hope-config.$tablet) {
        flex-basis: 100%;
      }
    }
  }

}
