<!DOCTYPE html>
<html>
<head>
  <title>$if(title-prefix)$$title-prefix$ - $endif$$if(pagetitle)$$pagetitle$$endif$</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="generator" content="pandoc" />
$for(author)$
  <meta name="author" content="$author$" />
$endfor$
$if(date)$
  <meta name="date" content="$date$" />
$endif$
<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"
integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="
crossorigin="anonymous"></script>
<script src="/jquery.autocomplete.min.js"></script>
<script src="/docs-autocomplete.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script>
window._pageRelpath="${relPath}";
</script>
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css" />
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body data-spy="scroll" data-target=".toc-nav" class="navbar-is-fixed-top">
$for(include-before)$
$include-before$
$endfor$
<div class="container">
<div class="columns">
$if(toc)$
<div class="column is-one-quarter toc-nav">
<section class="section sticky-toc">
<div class="nav">
$toc$
</div>
</div>
</section>
$endif$
<div class="column">
<section class="section content">
$if(title)$
<div class="page-header">
<h1 class="title">$title$</h1>
</div>
$endif$
$body$
</section>
</div>
</div>
</div>
$for(include-after)$
$include-after$
$endfor$
<div class='scrolltop'>
<div class='scrollitem icon'>
<i class="fas fa-chevron-up" ></i>
</div>
</div>
</body>
</html>
